# Add here the gems you want to store downlads data for:
gems:
  - elasticsearch
  - elasticsearch-api
  - elasticsearch-dsl
  - elasticsearch-extensions
  - elasticsearch-transport
  - elasticsearch-xpack

# This variable will be used to ignore really old versions of a gem which you
# might not want to store data for. Eventually I'll want to set this
# individually per gem:
min_version: 5.0